#cart-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 16px;
  padding: 6px;
  color: white;
  border-radius: 50%;
  aspect-ratio: 1/1;
}
.cart-icon {
  font-size: 24px;
}
#cart-badge {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -3px;
  right: -3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  aspect-ratio: 1/1;
  background: rgb(226, 39, 24);
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  transform: scale(0);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
#cart-badge.show {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
#cart-btn:hover {
  background-color: var(--bg-hover);
}
#cart-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  z-index: 98;
}

#cart-drawer {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 99;
  min-height: 100vh;
  width: clamp(300px, 80%, 450px);
  background: white;
  transition: all 300ms ease;
}
#cart-overlay.show {
  display: block;
}
#cart-drawer.show {
  right: 0;
}
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
  height: 50px;
  background-color: var(--color-surface);
  color: white;
}
#cart-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
#cart-title span {
  color: var(--color-accent);
}
.cart-close-btn {
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50%;
  transition: var(--transition-hover);
}
.cart-close-btn:hover {
  background: var(--bg-hover);
}

#cart-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  overflow-y: auto;
  height: 550px;
}
#no-item-cart {
  margin: auto;
}
#no-item-cart>* {
  display: grid;
  place-items: center;
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-style: italic;
}
#no-item-cart .cart-icon {
  font-size: 4rem;
  font-weight: lighter;
}

.cart-item {
  position: relative;
  display: grid;
  gap: 8px;
  padding: 6px;
  grid-template-columns: 100px 0.5fr 1fr;
  grid-template-areas:
    'img info info'
    'img ctrl subtotal';
}

.cart-item img {
  grid-area: img;
  object-fit: cover;
  height: 100px;
  max-width: 100px;
  border-radius: 12px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.cart-info {
  grid-area: info;
}
.cart-item-name {
  font-size: 14px;
}
.cart-item-price {
  font-size: 14px;
  font-weight:bold;
  color: var(--color-price);
}

.control-qty {
  grid-area: ctrl;
  display: flex;
  justify-content: center;
  align-items: center;
}
.control-qty > * {
  display: grid;
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 12px;
  font-weight: bold;
  width: 20px;
  height: 20px;
}
.control-qty button {
  color: rgba(255, 0, 0, 0.5);
  transition: var(--transition-hover);
}
.control-qty button:hover {
  backdrop-filter: brightness(80%);
}
.increase-qty {
  border-radius: 0% 99px 99px 0%;
  border-left: none;
}
.decrease-qty {
  border-radius: 99px 0% 0% 99px;
  border-right: none;
}
.cart-item-subtotal {
  grid-area: subtotal;
  display: grid;
  place-items: center;
  font-size: 12px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
}
.remove-cart-item {
  position: absolute;
  top: 4px;
  right: 4px;
}

.delete-icon {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  transition: var(--transition-hover);
}

.delete-icon:hover {
  color: #EF4444;
}

.cart-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  height: 90px;
  padding: 4px;
}
.cart-total {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
} 
.cart-total span {
    color: rgba(0, 0, 0, 0.5);
}
.checkout-btn {
  color: white;
  width: 85%;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--color-surface);
  font-size: 1.2rem;
  font-weight: bold;
  transition: var(--transition-hover);
}
.checkout-btn:hover {
  background:  var(--color-price);
}
