#cart-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(8px);
  z-index: 98;
}

#cart-drawer {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  min-height: 100vh;
  background: white;
}

:is(#cart-overlay, #cart-drawer).show {
  display: block;
}

#cart-list {
  overflow-y: auto;
  height: 500px;
}